extends layout.pug
block content
    .post-page
        .post-form(itemscope, itemtype="http://schema.org/BlogPosting")
            link(itemprop="mainEntityOfPage", href=post.absUrl)
            link(itemprop="url", href=post.absUrl)
            meta(itemprop="dateModified", content=post.updatedAt)
            h1.post-form__heading.ql-container.ql-snow 
                .ql-editor(itemprop="headline") #{post.title}
            .post-form__author.ql-container.ql-snow 
                .ql-editor
                    p 
                        span(itemprop="author") #{post.author}
                        span.dot &bull;
                        time(datetime=post.createdAt, content=post.createdAt, itemprop="datePublished") #{post.createdAtLocale}
                        if canEdit
                            span.dot &bull;
                            a(href=post.editUrl) Edit&nbsp;post
            .post-form__story.ql-container.ql-snow
                .ql-editor(itemprop="articleBody") !{post.story}

block meta_info
    link(rel="canonical", href=post.absUrl)
    title #{post.title}
    meta(name="description", content=post.description)
    meta(property="og:type", content="article")
    meta(property="og:title", content=post.title)
    meta(property="og:url", content=post.absUrl)
    meta(property="og:description", content=post.description)
    meta(property="og:image", content=post.image)
    meta(property="article:published_time", content=post.createdAt)
    meta(property="article:modified_time", content=post.updatedAt)
    meta(property="article:author", content=post.author)
    meta(name="twitter:card", content="summary")
    meta(name="twitter:title", content=post.title)
    meta(name="twitter:description", content=post.description)
    meta(name="twitter:image", content=post.image)