extends layout.pug
block content
    .post-page
        .post-form
            h1.post-form__heading.ql-container.ql-snow 
                .ql-editor #{post.title}
            .post-form__author.ql-container.ql-snow 
                .ql-editor
                    p #{post.author}
                        span &bull;
                        time(datetime=post.createdAt) #{post.createdAtLocale}
                        if canEdit
                            span &bull;
                            a(href=post.editUrl()) Edit post
            .post-form__story.ql-container.ql-snow
                .ql-editor !{post.story}