<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/static/css/bundle.css")
        title #{title}
    body
        .post-page
            .post-form
                h1.post-form__heading.ql-container.ql-snow 
                    .ql-editor #{title}
                .post-form__author.ql-container.ql-snow 
                    .ql-editor #{author} | #{date}
                .post-form__story.ql-container.ql-snow
                    .ql-editor !{story}
        script(src="/static/js/bundle.js?v1.0.0")